.gif {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px;
  width: 30%;
  text-decoration: none;
  color: white;
}

.gif h4 {
  margin: 0;
}

.gif img {
  object-fit: contain;
}
